@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.container {
  position: relative;
  text-align: center;
  background-color: $bgcolor;
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@include device-size(tablet) {
  .container {
    min-width: 768px;
  }
}

@include device-size(desktop) {
  .container {
    min-width: 1024px;
  }
}
