$maincolor: #5073e6;
$secondColor: #d0d6e0;
$accentcolor: #35363a;
$bgcolor: #f7f7f7;
$additionalcolor: #ffffff;
$transitionanim: cubic-bezier(0.34, 0.04, 0.37, 0.73);
$transitionduration: 250ms;
$shadowcolor: rgba(0, 0, 0, 0.56);
